/*cleaning formatting*/
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-size: 18px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color:  #e6e6e6;
}

/*formatting menu*/
#cabecalho #logo{
    text-align:center;
}
#cabecalho{
    padding: 15px;
    background-color: #f7b600;
    width: 100%;
    margin-top: -170px;
    position: fixed;
}
#logo{
    padding: 10px;
}
#menu{
    margin: 15px;
    
}
h1{
    display: block;
    color: #4e4e4e;
    font-weight: bold;
    font-size: 50px;
}
#menu ul{
    border: 0px;
    padding: 0px;
    margin-left: 470px;
}
#menu li{
    float: left;
    margin: 0px;
    padding: 0px;
}
#cabecalho #menu li a{
    text-decoration: none;
    display: block;
    height: 40px;
    color: white;
    width: 120px;
    line-height: 40px;

}
#cabecalho #menu li a:hover{
    background-color: white;
    color: #f7b600;
    transition: 0.5s;
}

.branco{
    color: white;
}

























/*formatting post*/
#conteudo-principal{
    width: 920px;
    margin: 0 auto;
    margin-top: 170px;
}
.leia{
    margin-top:10px;
    color: red;
}
#rodape{
    background-color: #CCC;
    font-weight: bold;
    text-align: center;
    clear: both;
    padding: 15px;
    margin-top: 15px;
}
.post-principal{
    background-color: white;
    padding: 20px;
    padding-top: 30px;
    margin-bottom: 15px;
    border-radius: 8px;
}
.post-lateral{  
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}
#area-lateral{
    background-color: white;
    width: 240px;
    float: right;
    margin-top: 15px;
}
#area-principal{
    width: 660px;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}
h2{
    color: #f7b600;
}
.data-postagem{
    display: block;
    font-size: 12px;
    font-weight: bold;
    padding-bottom: 10px;
    text-indent: 5px;
}

.post-principal a:link, .post-principal a:visited{
    background-color: white;
    color: #f7b600;
    padding: 0px;
    text-decoration: none;

}
.post-principal a:hover{
    text-decoration: underline;
}
.post-principal p{
    text-align: justify;
    padding: 10px 0;
}
#area-lateral #menu-lateral a{
    color:black;
    padding: 0px;
}
ul{
    margin: 10px;
    list-style: none;   
}
li{
    list-style: none;

}
li a{
    text-decoration: none;
    background-color: #f7b600;
    display: block;
    width: 217px;
    height: 40px;
    line-height: 40px;
    text-indent: 20px;
}
#area-lateral #h2-lateral{
    text-align: center;
    color: #4e4e4e;
}
#area-lateral #menu-lateral a:hover{
    background-color: #f99200;
    color: white;
}
#home #area-lateral .home-lateral a,
#jogo #area-lateral .jogo-lateral a{
    background-color: #f99200;
    color: white;
}

