/*cleaning formatting*/
*{
    padding: 0px;
    margin: 0px;
}
body{
    font-size: 18px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color:  #e6e6e6;
}

/*formatting menu*/
#cabecalho{
    text-align: center;
    padding: 15px;
    background-color: #f7b600;;
}
#logo{
    padding: 10px;
}
#menu{
    margin: 15px;
    
}
h1{
    display: block;
    color: #4e4e4e;
    font-weight: bold;
    font-size: 50px;
}
a{
    padding: 10px;
    text-decoration: none;
    color: white;
}
a:link, a:visited{
    color: white;
}
a:hover{
    background-color: white;
    color: #f7b600;
    padding: 10px;
}
.branco{
    color: white;
}
/*formatting post*/
#conteudo-principal{
    width: 920px;
    margin: 0 auto;
}
.leia{
    margin-top:10px;
    color: red;
}
#rodape{
    background-color: #CCC;
    font-weight: bold;
    text-align: center;
    clear: both;
    padding: 15px;
    margin-top: 15px;
}
.post-principal{
    background-color: white;
    padding: 15px;
    margin-bottom: 15px;
}
.post-lateral{  
    padding: 10px;
    background-color: white;
}
#area-lateral{
    background-color: white;
    text-align: center;
    width: 240px;
    float: right;
    margin-top: 15px;

}
#area-principal{
    width: 660px;
    float: left;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}
h2{
    color: #f7b600;
}
.data-postagem{
    font-size: 12px;
    font-weight: bold;
}

.post-principal a:link, .post-principal a:visited{
    background-color: white;
    color: #f7b600;
    padding: 0px;
}
.post-principal a:hover{
    text-decoration: underline;
}
.post-principal p{
    text-align: justify;
    padding: 10px 0;
}

